.app{
  
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  
}
@media only screen and (max-width: 600px) {
  .app__form{
   display: flex;
   flex-direction: column;
  }
  .todo__buttonAdd{
    margin-top: 10px;
  }
  .app__todo{
    display: flex;
    flex-direction: column;
  }
}
.app__todo{
  /* border: 1px solid lightgray; */
  background-color: white;
  width: 100%;
  display: flex;
  align-items: center;
  object-fit: contain;
  justify-content: center;
  object-fit: contain;
  flex-direction: column;
  border-radius: 20px;
  margin-top: 20px;
}
.app__form{
  margin-top: 20px;
  border: 1px solid lightgray;
  width: 70%;
  align-items: center;
  display: flex;
  padding: 50px;
  justify-content: space-between;
  background-color: #ffffff; 
  border-radius: 20px;
}
.todo__buttonAdd{
  margin-right: 100px;
}